<div class="modal-content">
  <div class="modal-header">
    <div class="modal-title h4" id="example-modal-sizes-title-lg">
      <ng-container *ngIf="data">Assign Admin to School</ng-container>

    </div>
  </div>
  <div class="overlay overlay-block cursor-default modal-body">
    <ng-container>
      <form action="#" class="form form-label-right" [formGroup]="formGroup">
        <div class="form-group row">
          <div class="col-lg-6">
            <label>School Name</label>
            <h3 class="mt-3">{{data?.schoolName}}</h3>
          </div>
          <div class="col-lg-6">
            <label>Select Admin</label>
            <ng-select class="form-field-secondary" placeholder="Select Admin"
              [class.is-invalid]="isControlInvalid('userId')" formControlName="userId">
              <ng-option *ngFor="let admin of User" [value]="admin._id">
                {{admin?.firstName | uppercase}}
              </ng-option>
            </ng-select>
            <div class="valid-feedback" *ngIf="isControlValid('userId')">
              Admin is Selected
            </div>
            <div class="invalid-feedback" *ngIf="controlHasError('required', 'userId')">
              Admin is required
            </div>
          </div>
        </div>
      </form>
    </ng-container>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light btn-elevate mr-2" (click)="cancel()">
      Cancel
    </button>
    <ng-container>
      <button type="submit" class="btn btn-primary btn-elevate" (click)="save()" [disabled]="formGroup.invalid">
        Save
      </button>
    </ng-container>
  </div>
</div>