<div class="inner-body-wrap">
	<div class="card card-custom gutter-b">
		<div class="card-header">
			<div class="card-title">
				<h3 class="card-label">Sub Admin List</h3>
			</div>
			<div class="card-toolbar">
				<!-- <button type="button" class="btn btn-primary" (click)="create()">Add School Sub Admin</button> -->
			</div>
		</div>
		<div class="card-body">
			<!-- begin: Filtration form -->
			<div class="form form-label-right">
				<div class="form-group row">
					<div class="col-lg-8">
						<form action="#" class="form form-label-right" [formGroup]="formGroup">
							<div class="row">
								<div class="col-lg-4">
									<small class="form-text text-muted">Search in name</small>
									<input type="text" class="form-control" name="searchText" placeholder="Search" value=""
										(keyup)="search($event.target.value)" />
								</div>

								<div class="col-lg-4">
									<small class="form-text text-muted">Filter by School</small>
									<ng-select placeholder="Select School" [items]="schoolList" bindLabel="schoolName" bindValue="_id"
										[searchable]="true" formControlName="defaultSchoolId" (change)="filterSchool($event)">
									</ng-select>>
								</div>

								<div class="col-lg-4">
									<small class="form-text text-muted">Filter by Status</small>
									<ng-select placeholder="Select status" [items]="statusList" bindLabel="name" bindValue="value"
										(change)="AdminStatus($event)">
									</ng-select>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!-- end: Filtration form -->
			<!-- begin:Table -->
			<div class="table-responsive angular-bootstrap-table">
				<table class="table table-head-custom table-vertical-center overflow-hidden" *ngIf="length > 0">
					<thead>
						<th> Name</th>
						<th>Phone Number</th>
						<th>Email</th>
						<ng-container>
							<th>School Name</th>
							<th>School Phone Number</th>
							<th>School Address</th>
						</ng-container>
						<th>Status</th>
						<th>Actions</th>
					</thead>
					<tbody>
						<tr *ngFor="let subAdmin of schoolSubAdmin">
							<td>{{subAdmin?.firstName }} {{subAdmin?.lastName }}</td>
							<td>{{subAdmin?.phoneNumber}}</td>
							<td>{{subAdmin?.email}}</td>

							<ng-container *ngFor="let school of subAdmin?.school">
								<td>{{school?.schoolName }}</td>
								<td>{{school?.schoolPhoneNumber}}</td>
								<td>{{ school?.addressLine1 | uppercase | truncate: [15, '...'] }}</td>
							</ng-container>
							<td>{{subAdmin?.isActivated === false ? 'Active' : 'InActive'}}</td>
							<td>
								<div class="d-flex align-items-center">
									<a title="change status" class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3"
										(click)="activeDeacticveEndorsments(subAdmin?._id, school?.isActivated)">
										<i class="material-icons">subject</i>
									</a>
									<button title="Edit Sub Admin" class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3"
										(click)="edit(subAdmin)" [disabled]="(subAdmin?.isActivated)">
										<i class="material-icons">edit</i>
									</button>
									<button title="Delete Sub Admin" class="btn btn-icon btn-light btn-hover-danger btn-sm"
										(click)="delete(subAdmin._id)" [disabled]="(subAdmin?.isActivated)">
										<i class="material-icons">delete</i>
									</button>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				<div *ngIf="length == 0" class="text-center font16 mt15 mb15 pt-4">
					School Sub Admin record not found
					<hr>
				</div>
			</div>
			<!-- end: Table -->
			<app-pagination class="d-flex justify-content-between align-items-center flex-wrap" *ngIf="length"
				[childMessage]="length" [index]="index" (messageEvent)="receiveMessage($event)"></app-pagination>
		</div>
	</div>
</div>