<div class="login-form login-signin">
  <form class="form" [formGroup]="resetForm" id="kt_login_signin_form" (ngSubmit)="submit()">
    <div class="pb-13 pt-lg-0 pt-5">
      <h3 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg">
        Reset Your Password
      </h3>

    </div>

    <div class="form-group">
      <div class="d-flex justify-content-between mt-n5">
        <label class="font-size-h6 font-weight-bolder text-dark pt-5">Password</label>
      </div>
      <div class="password-input">
        <input class="form-control form-control-solid h-auto py-7 px-6 rounded-lg"  name="password"
          autocomplete="off" formControlName="password" [type]="show_newbutton ? 'text' : 'password'" 
          [class.is-invalid]="isControlInvalid('password')"/>
          <i [class]="show_neweye ? 'fa fa-eye password_hide_show' : 'fa fa-eye-slash password_hide_show'"
          (click)="showNewPassword()"></i>
      </div>
      <!-- [class.is-invalid]="isControlInvalid('password')"
        [class.is-valid]="isControlValid('password')"  -->
      <!-- <div class="valid-feedback" *ngIf="isControlValid('password')">
        Password was entered correct
      </div> -->
      <div class="invalid-feedback" *ngIf="controlHasError('required', 'password')">
        Password is required
      </div>
      <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'password')">
        Password should have at least 8 symbols
      </div>
      <div class="invalid-feedback" *ngIf="controlHasError('maxlength', 'password')">
        Password should have maximum 50 symbols
      </div>
    </div>

    <div class="form-group">
      <label class="font-size-h6 font-weight-bolder text-dark">Confirm Password</label>
      <div class="password-input">
        <input class="form-control form-control-lg form-control-solid"  [type]="show_confirmbutton ? 'text' : 'password'"
          formControlName="confirmPassword" [class.is-invalid]="isControlInvalid('password')" />
          <i [class]="show_confirmeye ? 'fa fa-eye password_hide_show' : 'fa fa-eye-slash password_hide_show'"
          (click)="showConfirmPassword()"></i>
      </div>
      <!-- [class.is-invalid]="isControlInvalid('confirmPassword')"
      [class.is-valid]="isControlValid('confirmPassword')" -->
        <!-- <div class="valid-feedback" *ngIf="isControlValid('confirmPassword')">
          Password was entered correct
        </div> -->
        <div class="invalid-feedback" *ngIf="controlHasError('required', 'confirmPassword')">
          Confirm Password is required
        </div>
        <div class="invalid-feedback" *ngIf="f.confirmPassword.value != f.password.value &&
        f.confirmPassword.value && f.confirmPassword.value != '' ">
            Password and Confirm Password must be same
        </div>

    </div>

    <!--begin::Action-->

    <div class="pb-lg-0 pb-5">
      <button type="submit" id="kt_login_signin_submit"
        class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3" [disabled]="resetForm.invalid">
        Reset Password
      </button>
    </div>
    <!--end::Action-->
  </form>
  <!--end::Form-->
</div>
<!--end::Signin-->

