:host {
  width: 100%;
  @media (min-width: 992px) {
    .login-form {
      width: 100%;
      max-width: 450px;

      .mat-form-field {
        width: 100%;
      }
    }
  }
}

.login-form.login-forgot h3 {margin-bottom: 0;font-size: 2rem;}
.login-form.login-forgot p {margin: 0;color: #B5B5C3;font-size: 1.2rem;}
.login-form.login-forgot .pb-13.pt-lg-0.pt-5 {padding-bottom: 3.25rem;}
.login-form.login-forgot .form-group {margin-bottom: 1.75rem;}
.login-form.login-forgot .form-group input {background-color: #F3F6F9 !important;border-color: #F3F6F9;border: 0;color: #3F4254;padding: 1.1rem;border-radius: 0.85rem;outline: 0;width: 100%;box-shadow: none;}
.login-form.login-forgot button.font-size-h6 {color: #FFFFFF;background-color: #3699FF;border-color: #3699FF;border: 0;font-size: 1.175rem !important;font-weight: 600;padding: 1rem 2rem !important;border-radius: 0.42rem;margin-right: 15px !important;transition: ease-in-out 0.4s;-webkit-transition: ease-in-out 0.4s;-moz-transition: ease-in-out 0.4s;-ms-transition: ease-in-out 0.4s;box-shadow: none;}
.login-form.login-forgot button.font-size-h6:hover {background-color: #187DE4;}
.login-form.login-forgot a.font-size-h6 {color: #3699FF;background-color: #3699FF;border-color: #3699FF;border: 0;font-size: 1.175rem !important;font-weight: 600;padding: 1rem 2rem !important;border-radius: 0.42rem;text-decoration: none;background-color: #E1F0FF;-webkit-transition: ease-in-out 0.4s;-moz-transition: ease-in-out 0.4s;-ms-transition: ease-in-out 0.4s;box-shadow: none;}
.login-form.login-forgot a.font-size-h6:hover {background-color: #3699FF;color: #fff;}